html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Scheme: #C13E2C, #CC6758, #3F3937, #CECECC, #9A5B4E  */
/* Base */
html, body, #site-wrapper, #app-root {
	width: 100%;
	min-height: 100%;
  background: #222;
	color: #CECECC;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  display: none;
  background: #777;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

*:focus {
	outline: none;
}

a {
	color: inherit;
	text-decoration: none;
}

h1, h2, h3, h4, span {
	font-family: 'Bebas Neue', cursive;
}

p {
	font-family: 'Montserrat', sans-serif;
}

button {
	font-size: 100%;
	font-family: inherit;
	color: #CECECC;
	border: 0;
	padding: 0;
	cursor: grab;
}

.text-right {
	text-align: right;
}

#content-area {
	display: flex;
	flex-flow: row;
}
#content-area > div {
	width: 100%;
}

/* Roadmap */
nav {
	top: 0;
	width: 24rem;
	height: 100%;
	background: #4d4d4d;
	box-shadow: 1rem 1rem 2rem #222;
	z-index: 1;
}

nav > ul {
	height: 100%;
	padding-left: 2.5rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	list-style-type: disc;
}

.roadmap-item {
	padding: 1rem 1rem 1rem 0;
	font-size: 1rem;
}

.nested-1 {
	margin-left: 1rem;
	font-size: 1.3rem;
}

.nested-2 {
	margin-left: 2rem;
	font-size: 1.1rem;
}

.focused {
	color: #fff;
}

.hidden {
	display: none;
}

#part-view {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
}

#part-view > article {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.link-card {
	display: inline-block;
	width: 10rem;
	height: 14rem;
	margin: 1rem;
	padding: 3rem;
	border-radius: 0.5rem;
	cursor: grab;
}
.web-bg {
	background: #9d0b0b;
}
.js-bg {
	background: #274472;
}
.node-bg {
	background: #778A35;
}
.react-bg {
	background: #613659;
}
.link-card > h6 {
	margin-bottom: 4rem;
	font-size: 1.25rem;
}
.link-card > h3 {
	font-size: 3rem;
	text-align: center;
}

.chapter-root {
	margin-top: 6rem;
}
.chapter-root > div {
	display: flex;
	justify-content: center;
}

.link-btn {
	margin: 1rem;
	padding: 1rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;
	box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.5) , 0px 4px 6px -2px rgba(0,0,0,0.05) ;
}

#chapter-view {
	overflow-x: hidden;
	overflow-y: scroll;
}

#page-view {
	overflow-x: hidden;
	overflow-y: scroll;
}
#page-view > main {
	padding: 1rem;
}

#breadcrumb {
	display: flex;
	align-items: center;
	justify-content: left;
	height: 3rem;
	padding: 0 1rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8rem;
}
#breadcrumb > span {
	margin-top: 0.2rem;
	padding: 0 1rem;
	font-size: 1rem;
}

.fade-paragraph {
	margin: 1rem 2rem;
	line-height: 1.5rem;
	font-size: 1rem;
}

.scroll-header {
	padding: 1rem 1rem 0.5rem;
	font-size: 4rem;
	margin: 1rem;
	word-wrap: normal;
}

.staggered-list {
	list-style-type: none;
}
.staggered-list > li {
	padding: 0.5rem;
}
.staggered-list > li > span {
	margin: 0 1rem 0 0;
	font-size: 1rem;
}
.staggered-list > li > a > span {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
}

#title-splash > h1 {
	margin: 13rem 6.5rem;
	padding-left: 1rem;
	border-left: 2px solid #CC6758;
  font-size: 12rem;
}

.text-tile {
	display: flex;
	justify-content: center;
	font-size: 4rem;
	text-align: center;
	margin: 3rem 0.5rem;
}
.text-tile > div {
	display: flex;
	justify-content: center;
  padding: 1rem 1rem 0.5rem; 
}

.image-view {
	display: flex;
}

.image-view > img {
	width: 12rem;
	height: 12rem;
	margin: auto;
}

@media all and (min-width: 701px) {
	#part-view > article {
		margin-top: 10vh;
		margin-bottom: 10vh;
	}

	#content-area > div {
		margin: 0.5rem 1rem;
	}

	#breadcrumb {
		font-size: 1.2rem;
	}

	.roadmap-item {
		font-size: 1.2rem;
	}

	.scroll-header {
		margin: 2rem;
		font-size: 6rem;
	}

	.staggered-list {
		margin: 1rem 1rem 1rem 2rem;
		padding: 2rem;
	}
	.staggered-list > li > a > span {
		font-size: 1.5rem;
	}
}