@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('surviveAnimations.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* REFERENCE
  red gradient: #211212 #451417 #6a1117 #8f0911 #b30000
  pale blue gradient: #404040 #4f5862 #5e7185 #6c8bab #79a6d2
  gray gradient: #404040 #606060 #838383 #a7a7a7 #cccccc

  THEMES

  Lovecraft: 
Fire Brick #BB3B22
Tan #CFC485
Light Slate Gray #95A19C
Dark Slate Gray #1D2718
Dim Gray #7B765F;

*/

/* BASE */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #0b3300;
  text-decoration: none;
}

a:hover {
  color: #9bff80;
  text-decoration: none;
}

html, body, #survive-root {
  width: 100% !important;
  height: 100% !important;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: #4d4d4d;
  background: linear-gradient(to right, #0d0d0d, #333333, #0d0d0d);
}

canvas {
  position: fixed;
  background-color: #595959;
  z-index: -1;
}

::placeholder {
  color: #cccccc;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #cccccc;
}

::-ms-input-placeholder {
  color: #cccccc;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #737373; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.survive-app {
  max-width: 800px;
  height: 100%;
  margin: auto;
  overflow: hidden;
}

/* MODALS */
.modal-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0px;
  background: rgba(26, 26, 26, 0.5);
  z-index: 4;
}

.modal-grid {
  width: 100%;
  height: 75%;
  display: grid;
  margin: auto;
  margin-top: 60px;
  border: 1px solid #b3b3b3;
  background: linear-gradient(to right, #e6e6e6, #fff, #e6e6e6);
  box-shadow: 2px 2px 8px black;
  z-index: 5;
  font-family: 'Source Sans Pro', sans-serif;
}

.modal-btn {
  width: 80px;
  height: 2em;
  display: flex;
  margin: 8px;
  padding: 2px;
  border: 2px solid #1a1a1a;
  color: #1a1a1a;
  flex: 1;
}

.modal-btn-label {
  width: 100%;
  text-align: center;
}

/* Item Info Modal */
.item-info-modal {
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 1fr);
}

.iim-title-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.iim-title {
  color: #1a1a1a;
  margin: auto;
}

.iim-desc-area {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
}

.iim-desc {
  width: 90%;
  color: #1a1a1a;
  margin: auto;
}

.iim-btns-area {
  width: 100%;
  height: 100%;
  display: flex;
}

.iim-btns {
  width: 100%;
  display: flex;
  margin: 12px;
}

/* Combat Modal */
.combat-modal {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

/* TOP BAR */
.status-bar {
  width: 100%;
  height: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #404040;
  border-bottom: 1px solid #333333;
  font-family: 'Ubuntu', sans-serif;
}

.game-clock {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

.game-time {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 24px;
}

.stat-gauge-bar {
  width: 100%;
  height: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.stat-gauge {
  width: 100%;
  height: 40px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.gauge-label-area {
  width: 100%;
  height: 12px;
  display: flex;
}

.gauge-label {
  margin: auto;
  font-size: 3.2vw;
}

.gauge-amount-area {
  width: 100%;
  height: 18px;
  display: flex;
}

.gauge-amount {
  margin: auto;
  font-size: 3.8vw;
}

@media screen and (min-width: 768px) {
  .gauge-label {
     font-size: 14px;
  }

  .gauge-amount {
    font-size: 18px;
  }
}

.gauge-fill-area {
  width: 100%;
  height: 10px;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
}

.gauge-fill {
  grid-column-start: 1;
}

.health-fill-area {
  background-color: #330000;
}

.health-fill {
  background: linear-gradient(to right, #800000, #990000, #800000);
}

.energy-fill-area {
  background-color: #0a1429;
}

.energy-fill {
  background: linear-gradient(to right, #25488e, #2a52a2, #25488e);
}

.sanity-fill-area {
  background-color: #260d26;
}

.sanity-fill {
  background: linear-gradient(to right, #732673, #862d86, #732673);
}

/* GAME VIEW */
.game-view {
  width: 100%;
  height: 400px;
  display: flex;
}

/* CONSOLE VIEW */
.console-view {
  width: 100%;
  height: 100%;
}

.line-list-area {
  z-index: -1;
}

.line-list {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 0px;
  margin: auto;
  padding-left: 6px;
  padding-right: 6px;
  overflow: hidden;
  -webkit-transition: top 0.25s ease-out;
  transition: top 0.25s ease-out;
  z-index: -1;
}

.console-line {
  width: 100%;
  height: 28px;
  position: absolute;
  bottom: 0px;
  -webkit-transition: bottom 0.25s ease-out;
  transition: bottom 0.25s ease-out;
  z-index: 1;
  font-family: 'Ubuntu', sans-serif;
}

.command-bar {
  width: 100%;
  height: 32px;
  color: white;
  z-index: 2;
}

.user-input:focus {
  outline: none !important;
  border-top: 1px solid #a7a7a7;
  border-bottom: 1px solid #a7a7a7;
}

.user-input {
  width: 100%;
  height: 100%;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #737373;
  border: 1px solid #808080;
  color: white;
}

/* ITEM VIEW */
.item-view {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.item-list-header {
  margin-top: 18px;
  margin-left: 18px;
  font-size: 1.2em;
  font-family: 'Source Sans Pro', sans-serif;
}

.item-list {
  list-style-type: none;
}

.list-button-item {
  margin: 4px 8px 4px 8px;
  padding: 10px;
  background: linear-gradient(to right, rgba(166, 166, 166, 0.6), rgba(166, 166, 166, 0.2));
  font-family: 'Source Sans Pro', sans-serif;
}

.list-button-placeholder {
  margin: 4px 8px 4px 8px;
  padding: 10px;
  background: linear-gradient(to right, rgba(64, 64, 64, 0.6), rgba(77, 77, 77, 0.6));
  font-family: 'Source Sans Pro', sans-serif;
}

.inventory-list-area {
  width: 100%;
}

/* MAP VIEW */
.map-view {
  display : flex;
}

.map-grid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 3px;
  margin: auto;
  padding: 7vw;
}

.map-grid-item {
  width: 100%;
  height: 100%;
  background-color: rgba(64, 64, 64, 0.8);
  text-align: center;
  overflow: hidden;
}

.mgi-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.75em;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1em;
  padding-top: 2px;
}

/* INFO VIEW */
.stat-info-area {
  width: 90%;
  height: 90%;
  margin: 5%;
}

.stat-info-tile {
  width: 100%;
  min-height: 80px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 12px;
  background-color: rgba(54, 54, 54, 0.25);
}

.stat-info-svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat-info-phrase {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.9rem;
}

.stat-info-blurb {
  font-family: 'Source Sans Pro', sans-serif;
}

/* BUTTON BAR */
.btn-bar {
  width: 100%;
  max-width: 800px;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: fixed;
  bottom: 0px;
  background-color: #404040;
}

.view-btn {
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #333333;
}

.active-btn {
  background-color: #211212;
}

.view-btn-icon {
  width: 60px;
  height: 60px;
  margin: auto;
}
