/* COLORS SCHEMES
Gradients:
	Home: #999999, #a6a6a6
	Projects: #16222A (navy), #3A6073 (blue)
	Tunes: #8E0E00 (red), #1F1C18 (black)
	Contact: #56ab2f (green), #a8e063 (lime)
*/

/* MAIN ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* {
	font-family: "Arial";
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	color: #0b3300;
	text-decoration: none;
}

a:hover {
	color: #9bff80;
	text-decoration: none;
}

h1 {
	font-family: "Ubuntu", sans-serif;
}

h4 {
	font-size: 200%;
}

h5, h6 {
	padding: 0;
}

p {
	font-family: 'Vollkorn', serif;
}

html, body, #container {
	background: #999999;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.subheader {
	color: white;
}

footer {
	
}

/* ANIMATIONS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@-webkit-keyframes fadein-now {
  0% {
  	opacity: 0;
  	-webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
  	opacity: 1;
  	-webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@-moz-keyframes fadein-now {
  0% {
  	opacity: 0;
  	-webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
  	opacity: 1;
  	-webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes fadein-now {
  0% {
  	opacity: 0;
  	-webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
  	opacity: 1;
  	-webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@-webkit-keyframes gradient-shift {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

@-moz-keyframes gradient-shift {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

@keyframes gradient-shift {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

@-webkit-keyframes gradient-shiftback {
	0% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-moz-keyframes gradient-shiftback {
	0% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient-shiftback {
	0% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* BANNER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.banner-area {
	display: flex;
	height: 98px;
	background: linear-gradient(to right, white, #d9d9d9);
	border-bottom: 2px solid #595959;
}

.jd-logo {
	display: absolute;
	margin-left: 0.5em;
	margin-top: 0.3em;
	opacity: 0;
	-webkit-animation: fadein-now 0.5s ease-out 0s 1;
  -moz-animation: fadein-now 0.5s ease-out 0s 1;
  -o-animation: fadein-now 0.5s ease-out 0s 1;
  animation: fadein-now 0.5s ease-out 0s 1;
  animation-fill-mode: forwards;
}

.jd-title1 {
	display: inline-block;
	margin-left: 0.55em;
	font-family: 'Abel', sans-serif;
	font-size: 3em;
	overflow: hidden;
	white-space: nowrap;
	opacity: 0;
	-webkit-animation: fadein-now 0.5s ease-out 0.12s 1;
  -moz-animation: fadein-now 0.5s ease-out 0.12s 1;
  -o-animation: fadein-now 0.5s ease-out 0.12s 1;
  animation: fadein-now 0.5s ease-out 0.12s 1;
  animation-fill-mode: forwards;
}

.jd-title2 {
	display: inline-block;
	font-family: 'Abel', sans-serif;
	font-size: 3em;
	overflow: hidden;
	white-space: nowrap;
	opacity: 0;
	-webkit-animation: fadein-now 0.5s ease-out 0.18s 1;
  -moz-animation: fadein-now 0.5s ease-out 0.18s 1;
  -o-animation: fadein-now 0.5s ease-out 0.18s 1;
  animation: fadein-now 0.5s ease-out 0.18s 1;
  animation-fill-mode: forwards;
}

.jd-title3 {
	display: inline-block;
	font-family: 'Abel', sans-serif;
	font-size: 3em;
	overflow: hidden;
	white-space: nowrap;
	opacity: 0;
	-webkit-animation: fadein-now 0.5s ease-out 0.22s 1;
  -moz-animation: fadein-now 0.5s ease-out 0.22s 1;
  -o-animation: fadein-now 0.5s ease-out 0.22s 1;
  animation: fadein-now 0.5s ease-out 0.22s 1;
  animation-fill-mode: forwards;
}

.subtitle-area {
	position: absolute;
	right: 0.75em;
	height: inherit;
}

.jd-subtitle {
	font-family: 'Abel', sans-serif;
	font-size: 1.5em;
	display: flex;
	align-items: center;
	text-align: right;
	overflow: hidden;
	margin-top: 2em;
	margin-right: 2em;
}

.main-row {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* NAV ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.nav-area {
	display: inline-block;
	float: left;
	height: 100%;
	width: 86px;
	background-color: #4d4d4d;
	margin: 0;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
  z-index: 2;
}

.nav-fixed {
	position: fixed;
	top: 0px;
	left: 0px;
}

.navbar {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
}

.navlist {
	width: 86px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
}

.navlist li {
	display: inline-block;
	height: 86px;
	width: 86px;
	margin: auto;
	align-items: center;
	font-family: 'Abel', sans-serif;
	margin-left: -1px;
}

.navlist li h5 {
	margin-top: 2.5em;
	margin-right: 0.32em;
	color: white;
}

.nav-highlight {
	position: absolute;
	left: -100px;
	height: 36px;
	width: inherit;
	margin-top: 25px;
	margin-bottom: 25px;
	z-index: 1;
}

.home-highlight { background-color: #999999; top: 0px; }
.proj-highlight { background-color: #006bb3; top: 86px; }
.tunes-highlight { background-color: #8E0E00; top: 172px; }
.contact-highlight { background-color: #56ab2f; top: 258px; }

.section-tab {
	position: absolute;
	right: 0;
	height: 36px;
	width: 6px;
	margin-top: 25px;
	margin-bottom: 25px;
	z-index: 1;
}

.nav-title {
	position: relative;
	z-index: 2;
}

/* CONTENT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.content-area {
	height: 100%;
	padding: 0;
	margin-left: 86px;
}

.content {
	height: 100%;
	margin: 0;
	padding: 0;
	background: linear-gradient(to right, #999999, #a6a6a6, #999999);
}

.content-view {
	display: block;
	height: 150%;
	width: 100%;
	margin: 0;
	padding: 0;
	float: left;
	text-align: center;
}

.home-content {
	background: linear-gradient(to right, #808080, #8c8c8c, #808080);
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

.proj-content {
  height: 1500px;
	background: linear-gradient(to right, #16222A, #3A6073);
}

.proj-blurb {
  margin-bottom: 80px;
}

.proj-icons {
	width: inherit;
	height: 128px;
	margin-top: 7em;
}

.tile {
	display: inline-block;
	width: 128px;
	height: 128px;
	margin: 0px 48px 0px 48px;
	border: 1px solid #bfbfbf;
	border-radius: 1em;
}

.tile-abb {
	font-family: "Open Sans", sans-serif;
	color: white;
	margin-bottom: 0.5em;
}

.tw-abb {
	font-family: "Macondo", cursive;
	color: #00e64d;
}

.gs-abb {
	font-family: "Lobster", cursive;
	color: #4775d1;
}

.a-abb {
	font-family: "Gloria Hallelujah", cursive;
	color: #cc0000;
}

.tile-subtitle {
	color: white;
}

.tunes-content {
	background: linear-gradient(to right, #8E0E00, #1F1C18);
}

.contact-content {
	background: linear-gradient(to right, #56ab2f, #a8e063);
}

.content-header {
	padding-top: 3em;
	padding-bottom: 1em;
	color: white;
}

/* TUNE PLAYER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.tune-player {
  width: 75%;
  height: 400px;
  background: linear-gradient(45deg, rgba(64,64,64,0.8), rgba(115,115,115,0.8));
  border: 2px solid #666666;
  border-radius: 16px;
  box-shadow: 15px 15px 60px black;
  margin: auto;
  margin-top: 60px;
}

.tune-list {
  width: 100%;
  height: 100%;
  list-style-type: none;
  text-align: left;
}

.tune-list li {
  padding: 10px 0px 10px 20px;
  color: white;
  border-bottom: 1px solid #666666;
  cursor: pointer;
}

.tune1 {
  border-radius: 16px 16px 0px 0px;
}

.playbtn {
  width: 42px;
  height: 42px;
  padding-right: 10px;
}

/* CONTACT FORM ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#contact-form {
	width: 75%;
	height: 55px;
	margin: auto;
}

#contact-name {
	margin: 3em 0em 0em 0em;
}

#contact-content {
	height: 6em;
	margin: 1em 0em 1em 0em;
}

.contact-text-area {
	width: 75%;
	margin: auto;
	margin-bottom: 7em;
}

.contact-submit-area {
	position: relative;
	top: 145px;
	left: 0;
}

/* PROJ WINDOW VIEW ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.proj-windows {
	width: 85%;
  margin: auto;
	box-shadow: 6px 6px 30px black;
}

.proj-window {
	-webkit-animation: gradient-shiftback 0.5s ease 1 forwards;
  -moz-animation: gradient-shiftback 0.5s ease 1 forwards;
  -o-animation: gradient-shiftback 0.5s ease 1 forwards;
  animation: gradient-shiftback 0.5s ease 1 forwards;
}

.proj-window:hover {
	-webkit-animation: gradient-shift 0.5s ease 1 forwards;
  -moz-animation: gradient-shift 0.5s ease 1 forwards;
  -o-animation: gradient-shift 0.5s ease 1 forwards;
  animation: gradient-shift 0.5s ease 1 forwards;
}

.tw-window {
	background: linear-gradient(135deg, #267326, #53c653, #39ac39);
	background-size: 200% auto;
	border-top: 1px solid #2d862d;
	border-left: 1px solid #2d862d;
	border-right: 1px solid #2d862d;
}

.tw-window:hover {
	background-position: right center;
}

.gs-window {
	background: linear-gradient(135deg, #04263d, #2a6ea4, #054653);
	background-size: 200% auto;
	border-left: 1px solid #004466;
	border-right: 1px solid #004466;
}

.s-window {
	background: linear-gradient(135deg, #170101, #520006, #0b0000);
	background-size: 200% auto;
	border-left: 1px solid #520006;
	border-right: 1px solid #520006;
	border-bottom: 1px solid #520006;
}

.pw-headerarea {
  height: 72px;
  text-align: left;
  padding-top: 16px;
}

.pw-header {
  font-family: "Ubuntu", sans-serif;
  font-size: 64px;
  color: white;
  margin-top: 0;
  padding-top: 10px;
  padding-left: 20px;
}

.pw-body {
  position: relative;
  height: 240px;
  text-align: left;
}

.pw-body p {
  font-family: 'Vollkorn', serif;
  font-size: 18px;
  color: white;
  padding-top: 44px;
  padding-left: 20px;
  padding-right: 20px;
}

.pw-btn {
  width: 154px;
  height: 42px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;
  background-color: white;
  border: 1px solid white;
  border-radius: 24px;
  cursor: pointer;
}

.pw-btn h4 {
  font-family: 'Vollkorn', serif;
  font-size: 1.25em;
  color: black;
}
/* JS BROWSER (deprecated) ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.proj-browser {
	width: 90%;
	height: 500px;
	border: 3px solid #595959;
	margin: auto;
	margin-top: 50px;
	background: linear-gradient(to right, black, #333333);
}

.pb-tabs {
	width: 100%;
	height: 50px;
}

.pb-tab {
	display: inline-block;
	width: 32%;
	height: 50px;
	margin: 0;
	padding: 0;
	background-color: #595959;
	float: left;
	cursor: pointer;
}

.pb-tabspan {
	font-size: 32px;
}

.pb-tw { 
	font-family: "Macondo", cursive;
	color: #2eb82e;
}

.pb-gs {
	font-family: "Lobster", cursive;
	color: #4775d1;
}

.pb-s {
	font-family: "Gloria Hallelujah", cursive;
	color: #cc0000;
}

.pb-view {
	width: 100%;
	height: 444px;
	float: left;
	background: linear-gradient(to right, #3A6073, #16222A);
	background-image: url("/media/pb0.png");
}

.pb-bg {
	position: relative;
	overflow: hidden;
}

.pb-header {
	position: relative;
	width: 60%;
	top: 8px;
	left: 32px;
	float: left;
	margin: 0;
	font-size: 60px;
	color: white;
	font-family: "Open Sans", sans-serif;
	text-align: left;
	text-shadow: 2px 2px 5px black;
}

.pb-desc {
	position: relative;
	width: 60%;
	height: 200px;
	top: 50px;
	left: 32px;
	margin: 0;
	font-size: 22px;
	color: white;
	font-family: "Open Sans", sans-serif;
	text-align: left;
	text-shadow: 2px 2px 5px black;
}

.pb-desc p {
	float: left;
}

.pb-btn {
	position: relative;
	width: 150px;
	height: 50px;
	top: 150px;
	left: 32px;
	border: 5px solid white;
}

.pb-btn-word {
	margin: 6px 6px 6px 6px;
	font-family: "Open Sans", sans-serif;
	font-size: 26px;
	color: black;
	background-color: white;
}
*/