@import url('https://fonts.googleapis.com/css?family=Special+Elite');

/* BASE */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #0b3300;
  text-decoration: none;
}

a:hover {
  color: #9bff80;
  text-decoration: none;
}

html, body, #survive-root {
  width: 100% !important;
  height: 100% !important;
  margin: 0;
  padding: 0;
  background-color: #595959;
  color: white;
}

canvas {
  position: fixed;
}

/* TOP BAR */
.status-bar {
  width: 100%;
  height: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #404040;
  border-bottom: 1px solid #333333;
  font-family: 'Special Elite', cursive;
}

.game-clock {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-time {
  margin-top: 10px;
  margin-bottom: 10px;
}

.stat-gauge-bar {
  width: 100%;
  height: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.stat-gauge {
  width: 100%;
  height: 40px;
}

.gauge-label {
  width: 100%;
  height: 33px;
  display: inline-block;
  vertical-align: middle;
}

.gauge-stat-label {
  width: 100%;
  height: 12px;
  line-height: 12px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  font-size: 12px;
}

.gauge-stat-amt {
  width: 100%;
  height: 18px;
  line-height: 18px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  font-size: 18px;
  margin-top: -6px;
}

.gauge-fill {
  width: 80%;
  height: 7px;
  margin-top: 0px;
  margin-left: 10%;
  margin-bottom: 0px;
  margin-right: 10%;
}

.health-fill {
  background: linear-gradient(to right, #800000, #990000, #800000);
}

.energy-fill {
  background: linear-gradient(to right, #25488e, #2a52a2, #25488e);
}

.sanity-fill {
  background: linear-gradient(to right, #732673, #862d86, #732673);
}

/* GAME VIEW */
.game-view {
  width: 100%;
  height: 400px;
  display: flex;
}

/* BUTTON BAR */
.btn-bar {
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: fixed;
  bottom: 0px;
  background-color: #404040;
}

.view-btn {
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #333333;
}

.active-btn {
  background-color: #211212;
}

.view-btn-icon {
  width: 60px;
  height: 60px;
  margin: auto;
}