@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* REFERENCE
  red gradient: #211212 #451417 #6a1117 #8f0911 #b30000
  pale blue gradient: #404040 #4f5862 #5e7185 #6c8bab #79a6d2
  gray gradient: #404040 #606060 #838383 #a7a7a7 #cccccc
*/

/* BASE */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #0b3300;
  text-decoration: none;
}

a:hover {
  color: #9bff80;
  text-decoration: none;
}

html, body, #survive-root {
  width: 100% !important;
  height: 100% !important;
  margin: 0;
  padding: 0;
  color: white;
}

canvas {
  position: fixed;
  background-color: #595959;
  z-index: -1;
}

::placeholder {
  color: #cccccc;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #cccccc;
}

::-ms-input-placeholder {
  color: #cccccc;
}

.survive-app {
  overflow: hidden;
}

/* ANIMATIONS */
@-webkit-keyframes fadein-slidein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-moz-keyframes fadein-slidein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes fadein-slidein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.fadein-slidein {
  -webkit-animation: fadein-slidein 0.15s ease-out;
  -moz-animation: fadein-slidein 0.15s ease-out;
  -o-animation: fadein-slidein 0.15s ease-out;
  animation: fadein-slidein 0.15s ease-out;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeout-slideout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(7px);
    -moz-transform: translateY(7px);
    -o-transform: translateY(7px);
    -ms-transform: translateY(7px);
    transform: translateY(7px);
  }
}

@-moz-keyframes fadeout-slideout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(7px);
    -moz-transform: translateY(7px);
    -o-transform: translateY(7px);
    -ms-transform: translateY(7px);
    transform: translateY(7px);
  }
}

@keyframes fadeout-slideout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(7px);
    -moz-transform: translateY(7px);
    -o-transform: translateY(7px);
    -ms-transform: translateY(7px);
    transform: translateY(7px);
  }
}

.fadeout-slideout {
  -webkit-animation: fadeout-slideout 0.15s ease-out;
  -moz-animation: fadeout-slideout 0.15s ease-out;
  -o-animation: fadeout-slideout 0.15s ease-out;
  animation: fadeout-slideout 0.15s ease-out;
  animation-fill-mode: forwards;
}

/* TOP BAR */
.status-bar {
  width: 100%;
  height: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #404040;
  border-bottom: 1px solid #333333;
  font-family: 'Special Elite', cursive;
}

.game-clock {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-time {
  margin-top: 10px;
  margin-bottom: 10px;
}

.stat-gauge-bar {
  width: 100%;
  height: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.stat-gauge {
  width: 100%;
  height: 40px;
}

.gauge-label {
  width: 100%;
  height: 33px;
  display: inline-block;
  vertical-align: middle;
}

.gauge-stat-label {
  width: 100%;
  height: 12px;
  line-height: 12px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  font-size: 12px;
}

.gauge-stat-amt {
  width: 100%;
  height: 18px;
  line-height: 18px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  font-size: 18px;
  margin-top: -6px;
}

.gauge-fill {
  width: 80%;
  height: 7px;
  margin-top: 0px;
  margin-left: 10%;
  margin-bottom: 0px;
  margin-right: 10%;
}

.health-fill {
  background: linear-gradient(to right, #800000, #990000, #800000);
}

.energy-fill {
  background: linear-gradient(to right, #25488e, #2a52a2, #25488e);
}

.sanity-fill {
  background: linear-gradient(to right, #732673, #862d86, #732673);
}

/* GAME VIEW */
.game-view {
  width: 100%;
  height: 400px;
  display: flex;
}

/* CONSOLE VIEW */
.console-view {
  width: 100%;
  height: 100%;
}

.line-list-area {
  z-index: -1;
}

.line-list {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 0px;
  margin: auto;
  padding-left: 6px;
  padding-right: 6px;
  overflow: hidden;
  -webkit-transition: top 0.25s ease-out;
  transition: top 0.25s ease-out;
  z-index: -1;
}

.console-line {
  width: 100%;
  height: 28px;
  position: absolute;
  bottom: 0px;
  -webkit-transition: bottom 0.25s ease-out;
  transition: bottom 0.25s ease-out;
  z-index: 1;
  font-family: 'Ubuntu', sans-serif;
}

.command-bar {
  width: 100%;
  height: 32px;
  color: white;
  z-index: 2;
}

.user-input:focus {
  outline: none !important;
  border-top: 1px solid #a7a7a7;
  border-bottom: 1px solid #a7a7a7;
}

.user-input {
  width: 100%;
  height: 100%;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #737373;
  border: 1px solid #808080;
  color: white;
}

/* ITEM VIEW */
.item-view {
  width: 100%;
  height: 100%;
}

/* BUTTON BAR */
.btn-bar {
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: fixed;
  bottom: 0px;
  background-color: #404040;
}

.view-btn {
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #333333;
}

.active-btn {
  background-color: #211212;
}

.view-btn-icon {
  width: 60px;
  height: 60px;
  margin: auto;
}