@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* REFERENCE

*/

/* ANIMATIONS */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes blink-fade {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
.blink-fade {
  -webkit-animation: blink-fade 0.2s ease-out;
  -moz-animation: blink-fade 0.2s ease-out;
  -o-animation: blink-fade 0.2s ease-out;
  animation: blink-fade 0.2s ease-out;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}
.fade-in {
  -webkit-animation: fade-in 0.2s ease-out;
  -moz-animation: fade-in 0.2s ease-out;
  -o-animation: fade-in 0.2s ease-out;
  animation: fade-in 0.2s ease-out;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    -o-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    transform: translateY(-12px);
  }
}
@-moz-keyframes fade-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    -o-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    transform: translateY(-12px);
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    -o-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    transform: translateY(-12px);
  }
}
.fade-out {
  -webkit-animation: fade-out 0.1s ease-out;
  -moz-animation: fade-out 0.1s ease-out;
  -o-animation: fade-out 0.1s ease-out;
  animation: fade-out 0.1s ease-out;
  animation-fill-mode: forwards;
}

@-webkit-keyframes loading-spinner {
  to { 
    transform: rotate(360deg);
  }
}
@-moz-keyframes loading-spinner {
  to { 
    transform: rotate(360deg);
  }
}
@keyframes loading-spinner { 
  to { 
    transform: rotate(360deg);
  }
}

@-webkit-keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@-moz-keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.infinite-shake {
  animation: shake 0.4s infinite 0.8s;
  animation-fill-mode: forwards;
}

/* GENERAL */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100% !important;
  min-height: 100% !important;
} 

.site-wrapper, .modal-area {
  width: 100% !important;
  max-width: 2000px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

input {
  outline: none;
}

.dark-highlight {
  color: #A62639;
}

.light-highlight {
  color: #DB324D;
}

.ghost-highlight {
  border: 1px solid ghostwhite;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* MODAL */
.modal-hidden {
  display: none !important;
}

.modal-showing {
  display: block;
}

.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.69);
  z-index: 99;
}

.close-modal-row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.close-x {
  height: 1em;
  padding-right: 7px;
  color: #000;
  font-size: 1em;
}

.modal-body {
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-rows: 1em 1fr;
  margin: 10vh 10vw 10vh 10vw;
  background: rgba(30, 30, 30, 0.95);
  color: #eee;
  overflow-x: hidden;
  box-shadow: 0px 4px 10px 3px #000;
}

/* Rules Modal */
.rules-content-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.rules-content-area > h2 {
  padding-bottom: 12px;
  text-align: center;
}

.rules-content-area > p {
  margin-left: 10px;
  margin-right: 10px;
}

/* Settings Modal */
.settings-content-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 12px;
}

.settings-content-area > h2 {
  font-size: 1.5rem;
}

.settings-content-area > h4 {
  margin-top: 1em;
  font-size: 1.25rem;
}

.setting-selection > li {
  max-width: 10rem;
  margin: 0.25rem auto;
  padding: 6px;
  color: #fff;
  border-radius: 10px;
  text-align: center;
}

.crystal-btn {
  background: #DB324D;
}

.seascape-btn {
  background: #2d6a68;
}

.slate-btn {
  background: #2a3c3c;
}

.synth-btn {
  background: #74ba9f;
}

.remnant-btn {
  background: #88A26F;
}

/* Scenario Modal */
.scenario-list {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 1rem;
}

.scenario-list > li {
  margin: 0.25rem;
  padding: 0.69rem;
}

.unselected-scenario {
  background: rgba(52, 52, 52, 0.8);
}

.selected-scenario {
  background: #2d6a68;
}

.scenario-list-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.scenario-list-btns > div {
  height: 3rem;
  padding: 1rem;
  text-align: center;
  background: #262626;
  border: 1px solid #111;
}

/* ALERT */
.popup-msg {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  box-shadow: 4px 4px 3px #111;
  border-radius: 4px;
}

.popup-msg > p {
  padding: 1rem;
}

/* BANNER */
.banner-area {
  width: 100%;
  height: 100px;
  display: flex;
  text-align: center;
}

.banner-text {
  width: 100%;
  margin: auto;
  font-size: 3em;
}

/* NAV */
.nav-area {
  width: 100%;
  height: 42px;
  box-shadow: 0px 4px 14px #111;
}

.nav-list {
  width: 100%;
  max-width: 40rem;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  list-style-type: none;
}

.nav-list > li {
  margin: auto;
}

/* APP */
#imposter-app {
  width: 100%;
}

.imposter-gameview { 
  width: 100%;
  min-height: 100vh;
}

.game-view {
  max-width: 50rem;
  margin: auto;
}

.game-view > h3 {
  padding: 0.1rem;
}

.control-lbi {
  width: 40vw;
  height: 2em;
  margin: 12px auto;
  border-radius: 4px;
  box-shadow: 12px 8px 6px #111;
}
.control-lbi:active {
  -webkit-animation: blink-fade 0.2s ease-out;
  -moz-animation: blink-fade 0.2s ease-out;
  -o-animation: blink-fade 0.2s ease-out;
  animation: blink-fade 0.2s ease-out;
  animation-fill-mode: forwards;
}

/* MAIN MENU */
.main-menu {
  width: 100%;
}

.start-game-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.mm-form-area {
  height: 50vh;
  max-width: 450px;
  margin: auto;
}

.mm-form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mm-form > h4 {
  margin: 10vh auto 0 auto;
}

.mm-form-text-input {
  height: 2em;
  margin: 5vh 10vw 0 10vw;
  padding: 0 5px;
  border: 1px solid #777;
  border-radius: 0.75em;
}

.mm-form-submit {
  width: 160px;
  height: 2em;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 12px 8px 6px #111;
  border: none;
  color: #fff;
  font-size: 1em;
}

.gc-form-input {
  text-transform: uppercase;
}

.mm-lbi {
  width: 60vw;
  height: 2.5em;
  margin: 2.8vh;
  font-size: 1.1em;
  border-radius: 4px;
  box-shadow: 12px 8px 6px #111;
}

/* LOADING VIEW */
.loading-view {
  padding-top: 25vh;
  text-align: center;
}

.spinny-wheel {
  height: 40px;
  width: 40px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  border-right: 2px solid transparent;
  border-bottom:none;
  border-left:none;
  animation: loading-spinner 700ms linear infinite;
}

/* LOBBY */
.player-list {
  margin-top: 5vh;
}

.player-list-lbi {
  width: 60vw;
  height: 2em;
  margin: 4px auto;
  border-radius: 4px;
}

.currplayer-lbi > h4 {
  font-weight: bold;
}

.game-code-area {
  padding: 0.5rem;
  text-align: center;
}

.game-code-title {
  font-size: 1em;
}

.game-code-text {
  font-size: 1.5em;
}

.game-timer-area {
  padding: 0.5rem;
  text-align: center;
}

.game-timer-title {
  font-size: 1em;
}

.game-timer-ct {
  font-size: 1.5em;
}

.lobby-btns {
  padding: 1rem;
}

/* INGAME */
.is-accusing-btn {
  background: #d9d9d9;
}
.is-accusing-btn > h4 {
  color: #000;
}

.vote-area {
  padding: 0.5rem;
  border-radius: 4px;
}

.vote-notification {
  margin: auto;
  text-align: center;
  border-radius: 4px;
  box-shadow: 4px 8px 8px #111;
}

.vote-text {
  padding: 0.5rem;
}

.vote-text-half {
  display: inline-block;
  width: 30%;
  margin: 0;
  padding: 0.5rem;
}

.vote-btns {
  padding: 0.5rem;
}

.vote-btns > div {
  display: inline-block;
  max-width: 3rem;
  margin: 0 1rem;
  padding: 0.35rem 0.7rem;
  box-shadow: 8px 4px 6px #111;
  border-radius: 4px;
}

/* ENDGAME */
.endgame-view {
  text-align: center;
}

.endgame-view > h1 {
  margin: auto;
  padding: 2rem;
  font-size: 3em;
}

.endgame-view > h2 {
  padding: 0 2rem 2rem;
  font-size: 1.5rem;
}

/* AUX */
.list-btn-item {
  display: flex;
  max-width: 320px;
}

.lbi-text {
  margin: auto;
}

.notification-area{
  padding: 0.5rem;
}

.notification-box {
  width: 80vw;
  height: 36px;
  margin: auto;
  text-align: center;
  padding-top: 0.3em;
}